<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Chatbot</title>
<link rel="stylesheet" href="{{ url_for('static', filename='style.css') }}">  </head>

</head>
<body>
    <div class="chatcontainer">
        <h1>Ayurvedic Remedy Chatbot</h1>
        <div id="chathistory"></div>
        <form action="/bot" id="chatform" method="POST">
            <input type="text" id="userinput" name="userinput" placeholder="Ask your question..." autocomplete="off">
            <button type="submit">Send</button>
        </form>
    </div>
</body>
</html>