<!doctype html>
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="Matteo Bruni">
    <title>Register Template - tsParticles</title>

    <!-- Custom styles for this template -->
    <!-- <link href="css/particles.css" rel="stylesheet"/> -->
    <link href="{{ url_for('static',filename='styles/auth.css') }}" rel="stylesheet"/>
</head>

<body>
<div id="tsparticles"></div>
<main class="box">
    <h2>Register</h2>
    <form action="/register" method="post">
        <div class="inputBox">
            <label for="userName">Username</label>
            <input type="text" name="username" id="username" placeholder="type your username" required/>
        </div>
        <div class="inputBox">
            <label for="userPassword">Password</label>
            <input type="password" name="password" id="password" placeholder="type your password"
                   required/>
        </div>
        <div class="inputBox">
            <label for="userConfirmPassword">Confirm Password</label>
            <input type="password" name="password" id="cpassword" placeholder="confirm your password"
                   required/>
        </div>
        <button type="submit" style="float: left;">Submit</button>
        <a class="button" href="{{url_for('login')}}" style="float: left;">Login</a>
    </form>
</main>
<footer>
</footer>


</body>

</html>
